<footer class="footer_bg">
    <div class="container container_modified custom_container">
      <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
          <div class="text-center">
            <div class="pt-4 pt-3 border-bottom pb-4">
              <img class="pb-2" src="{{ 'assets/images/svg/footor-logo.svg' | relative_url }}" alt="footor-logo">
            </div>
            <ul
              class="d-flex align-items-center justify-content-between justify-content-sm-center gap-1 gap-sm-4  flex-nowrap mt-3 pt-1 ps-0">
              <li>
                <a class="font_md fw-normal color_offwhite footer_link ff_open" href="{{ '/terms-of-service">Terms of
                  Service</a>
              </li>
              <li>
                <a class="font_md fw-normal color_offwhite footer_link ff_open" href="{{ '/privacy">Privacy
                  Policy</a>
              </li>
              <li>
                <a class="font_md fw-normal color_offwhite footer_link ff_open" href="{{ '/imprint">Imprint</a>
              </li>
              <li>
                <a class="font_md fw-normal color_offwhite footer_link ff_open" href="{{ '/blog">Blog</a>
              </li>
            </ul>
          </div>
        </div>
        <div
          class="d-flex justify-content-between align-items-center flex-column flex-sm-row mb-4 mt-4 mt-sm-5 pt-md-3">
          <a href="{{ '/support | relative_url }}" >   <h5 class="font_md fw-normal color_offwhite ff_open opacity_07 mb-md-3 mb-0 pe-md-5 ">
            Support  </h5></a>
          <p class="font_md fw-normal color_offwhite ff_open opacity_07 mb-md-3 mb-0 ps-md-5 ms-lg-5 py-2 py-sm-0">
            Copyright ©
            <span id="year-change"></span> <a class="font_md fw-normal color_offwhite ff_open"
              href="mailto:Chaingateway.io">Chaingateway.io</a>
          </p>
          <p class="font_md fw-normal color_offwhite ff_open opacity_07 mb-md-3 mb-0">
            Change cookie
            preferences</p>
        </div>
      </div>
    </div>
  </footer>