<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- Primary Meta Tags -->
<title>{{ page.title }} - {{ site.title }}</title>
<meta name="title" content="{{ page.title }} - {{ site.title }}">
<meta name="description" content="BUILD THE BRIDGE BETWEEN BLOCKCHAIN AND THE REAL WORLD">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="{{ page.url | relative_url }}">
<meta property="og:title" content="ChainGateway">
<meta property="og:description" content="BUILD THE BRIDGE BETWEEN BLOCKCHAIN AND THE REAL WORLD">
<meta property="og:image" content="{{ 'assets/images/svg/key-features-card1.svg' | relative_url }}">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://chain-gateway.web.app/">
<meta property="twitter:title" content="Chaingateway">
<meta property="twitter:description" content="BUILD THE BRIDGE BETWEEN BLOCKCHAIN AND THE REAL WORLD">
<meta property="twitter:image" content="{{ 'assets/images/svg/key-features-card1.svg' | relative_url }}">