<section class="pt-3 pt-lg-4 pt-xl-0" >
  <div class="container container_modified custom_container position-relative d-lg-flex align-items-center
    tron_hero_section w-100 px_xsm_12" style="height: 100% !important;">
    <div
      class="row flex-column-reverse flex-lg-row justify-content-center justify-content-between align-items-center w-100 mx-0">
      <div class="col-sm-11 col-md-12 col-lg-6 position-relative z-index-5" data-aos="fade-right"
        data-aos-delay="1200">
        <h2 class="font_xl fw-semibold ff_open color_offwhite decentralize_text opacity_07" data-aos="fade-right"
          data-aos-delay="1400">
          DECENTRALIZE THE WEB
        </h2>
        <h1 class="font_4xl fw-bold color_offwhite mb-2 text-uppercase ff_dosis" data-aos="fade-right"
          data-aos-delay="1500">
          ACCESS OUR
          <span class="text_linear_grandient2"> ETHEREUM API</span>
        </h1>
        <p class="mb-0 mt-3 sub_para max_w_subpara">Chaingateway is a great opportunity
          to join the Tron blockchain or to strengthen your existing crypto
          infrastructure.</p>
        <div class="mt-sm-4 pt-3" data-aos="fade-right" data-aos-delay="1800">
          <button class="me-auto me-sm-0 mb-4 mb-lg-0 login_btn text-start" type="button">
            Get Free API key
          </button>
        </div>
      </div>
      <div class="col-12 col-lg-6 px-0 px-sm-3">
        <!-- DESKTOP  -->
        <div class="d-none d-lg-block ethereum_hero_img w-100 pb-4">
          <img src=" {{ '/assets/images/ethereum/hero.png' | relative_url }}" alt="Ethereum API">
        </div>
        <!-- MOBILE  -->
        <div class="d-lg-none ">
          <img src=" {{ '/assets/images/ethereum/hero.png' | relative_url }}" alt="Ethereum API" class=" mx-auto d-block w-50 pb-4" style="max-width:100%">

        </div>
      </div>
    </div>
  </div>
  </div>
</section>